
<div class="payment-summary success">
	<h2> Payment Successful </h2>
	<div class="no-print">
		<center ng-if="accountSearchUrl">
			<a href="{{accountSearchUrl}}">Begin a New Search</a> 
		</center>
	</div>
	<div class="user-notification">
			<div class="summary-text">
				<h3 style="margin-top:0px;"> Your payment has been successfully completed </h3>
			</div>
			<br>
			The following is a summary of your payment. Please print this page for your records.
			<div class="no-print">
				<div class="user_instructions" ng-if="accountSearchUrl">
					<br>
					If you would like to search for other accounts, please click the 
					<span class="ref-button">New Search</span> button.
					<br> <br>
					<div id="option-block">
						<button ng-click="newSearch()"> New Search </button>
					</div>
				</div>
			</div>
	</div>

	<center>
	<div style="width:920px;text-align:left;">

	<div style="clear:both;"></div>
	<div style="width: 920px; float:left;">
	<div class="payment-summary-block account">
		<div class="section-header"> PROPERTY PAYMENT INFORMATION </div>

		<div style="margin-bottom: 30px;font-size:13px;">
			<div class="row" ng-repeat="account in payment.accounts | filter:{showOnSummary: true}">
				<div ng-if="$index > 0" class="separator"></div>

				<div class="entry">
						<div class="owner">
							<div ng-if="clientRoot">
								<a href="{{clientRoot}}showdetail2.jsp?can={{account.account}}"> {{account.account}} </a> <br>
							</div>

							<div ng-if="!config.accountDetailUrl" style="color:darkblue;font-weight:bold;margin-bottom:5px;">
								{{account.account}} <br>
							</div>

                            <div style="color:darkgrey;margin-bottom: 5px;">
                                <span ng-if="account.owner.name.length > 0">{{account.owner.name}}<br></span>
                                <span ng-if="account.owner.address1.length > 0">{{account.owner.address1}}<br></span>
                                <span ng-if="account.owner.address2.length > 0">{{account.owner.address2}}<br></span>
                                <span ng-if="account.owner.address3.length > 0">{{account.owner.address3}}<br></span>
                                <span ng-if="account.owner.city.length > 0">{{account.owner.city}}</span>
                                <span ng-if="account.owner.city.length > 0 && account.owner.state.length > 0">, </span>
                                <span ng-if="account.owner.state.length > 0">{{account.owner.state}}</span>
                                <span ng-if="account.owner.city.length > 0 || account.owner.state.length > 0"> &nbsp; </span>
                                <span ng-if="account.owner.zipcode.length > 0">{{account.owner.zipcode}}</span>
                            </div>

                            <div ng-if="account.description" style="color:darkblue;font-weight:bold;">
                                {{account.description}}
                            </div>
						</div>
						<div class="account-payment">
							<table class="payment-account" border=0>
							<tr div ng-if="account.paymentYear.length > 0">  <th> Apply payment to year: </th> <td style="font-weight: bold;"> {{account.paymentYear}} </td> </tr>
							<tr ng-if="!account.lienPayment">  <th> Payment Amount: </th> <td style="font-weight: bold;"> {{account.paymentAmount | currency}} </td> </tr>
							<tr ng-if="account.lienPayment">  <th> Lien Payment Amount</th> <td style="font-weight: bold;"> {{account.paymentAmount | currency}} </td> </tr>
							</table>
						</div>
				</div>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
	</div>

	<div style="clear:both;"></div>
	<div style="width: 450px; margin-right:20px; float:left;">
		<div class="payment-summary-block amount">
			<div class="section-header"> PAYMENT SUMMARY </div>

			<div ng-if="payment.amount.fee > 0">
				<table class="payment-metadata amount" border=0>
					<caption> This is the amount you paid </caption>
					<tr> <th> Tax Amount: </th> <td> {{payment.amount.tax | currency}} </td> </tr>
					<tr> <th> Fee Amount: </th> <td> {{payment.amount.fee | currency}} </td> </tr>
				</table>
				<table class="payment-metadata amount" border=0 style="margin-top:5px;">
					<tr> <th> Total Payment Amount: </th> 
						<td style="font-weight: bold;"> {{payment.amount.total | currency}} </td> 
					</tr>
				</table>
			</div>

			<div ng-if="payment.amount.fee == 0 || ! payment.amount.fee">
				<table class="payment-metadata amount" border=0>
					<caption> This is the tax amount you payed </caption>
					<tr> <th> Total Tax Payment Amount: </th> <td style="font-weight: bold;"> {{payment.amount.total | currency}} </td> </tr>
				</table>
			</div>
		</div>
	</div>
	<div style="width: 450px; float:left;">
		<div class="payment-summary-block method">
			<div class="section-header"> PAYMENT REFERENCE INFORMATION </div>
			<div xng-if="payment.method.type=='PDS'">
                <div class="payment-summary-block reference">
                        <table class="payment-metadata" border=0>
                            <tr> <th> Date-Time: </th> <td> {{payment.reference.datetime}} </td> </tr>
                            <tr> <th> Reference ID: </th> <td> {{payment.reference.tid}} </td> </tr>
                            <tr> <th> Auth Reference: </th> <td> {{payment.reference.auth}} </td> </tr>
                        </table>
                </div>
			</div>

		</div>
	</div>

	<div style="clear:both;"></div>



	<div style="clear:both;"></div>
	<div style="width: 920px;float:left;">
	<div class="payment-summary-block contact">
		<div class="section-header"> CONTACT INFORMATION </div>
		<table class="payment-metadata" border=0>
		<tr> <th> Name: </th> <td> {{payment.contact.name}} </td> </tr>
		<tr> <th> Address: </th> <td> {{payment.contact.street}} </td> </tr>
		<tr> <th> City: </th> <td> {{payment.contact.city}} </td> </tr>

		<tr ng-if="payment.contact.state.length > 0"> <th> State: </th> <td> {{payment.contact.state}} </td> </tr>
		<tr ng-if="payment.contact.zipcode.length > 0"> <th> Zip Code: </th> <td> {{payment.contact.zipcode}} </td> </tr>
		<tr ng-if="payment.contact.country.length > 0"> <th> Country: </th> 
			<td> <div ng-if="payment.contact.country.length == 0">United States</div>
				<div ng-if="payment.contact.country.length > 0">{{payment.contact.country}}</div>
			</td> 
		</tr>

		<tr> <td>&nbsp;</td></tr>
		<tr ng-if="payment.contact.email.length > 0"> <th> Email&nbsp;Address: </th> <td> {{payment.contact.email}} </td> </tr>
		<tr ng-if="payment.contact.phone.length > 0"> <th> Phone&nbsp;Number: </th> <td> {{payment.contact.phone}} </td> </tr>
		<tr> <td style="height:4px;line-height:4px;">&nbsp;</td></tr>

		</table>
	</div>
	</div>
	<div style="clear:both;"></div>

	</div>
	</center>




	<div ng-if="payment.isTest">
		<div class="user-notification notice">
			<span class="standout">Test Transaction:</span>
			This is a test transaction. Your account was <span class="standout">NOT</span> credited for any payments made.
		</div>
	</div>

	<br><br><br>
</div>
